<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>todo list in Vue.js with LocalStorage </title>
  
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

    <div id="app">
    <section class="todo-wrapper">
      <h1 class="todo-title">{{ today.day }}<br>{{ today.date }}</h1>
      <form @keydown.enter.prevent="">
        <input type="text" class="input-todo" v-bind:class="{ active: new_todo }" placeholder="Take the garbage out" v-model="new_todo" v-on:keyup.enter="addItem">
        <div class="btn btn-add" v-bind:class="{ active: new_todo }"  @click="addItem">+</div>
      </form>

      <div v-if="pending.length > 0">
        <p class="status busy">You have {{ pending.length }} pending item<span v-if="pending.length>1">s</span></p>
        <transition-group name="todo-item" tag="ul" class="todo-list">
          <li v-for="(item, index) in pending" v-bind:key="item.title">
            <input class="todo-checkbox" v-bind:id="'item_' + item.id" v-model="item.done" type="checkbox">
            <label v-bind:for="'item_' + item.id"></label>
            <span class="todo-text">{{ item.title }}</span>
            <span class="delete" @click="deleteItem(item)"></span>
          </li>
        </transition>  
      </div> 

      <transition name="slide-fade">
        <p class="status free" v-if="!pending.length" ><img src="https://nourabusoud.github.io/vue-todo-list/images/beer_celebration.svg" alt="celebration">Time to chill!  You have no todos.</p> 
      </transition> 

      <div v-if="completed.length > 0 && showComplete">
        <p class="status">Completed tasks: {{ completedPercentage }}</p>
        <transition-group name="todo-item" tag="ul" class="todo-list archived">
          <li v-for="(item, index) in completed" v-bind:key="item.title">
            <input class="todo-checkbox" v-bind:id="'item_' + item.id" v-model="item.done" type="checkbox">
            <label v-bind:for="'item_' + item.id"></label>
            <span class="todo-text">{{ item.title }}</span>
            <span class="delete" @click="deleteItem(item)"></span>
          </li>
        </transition>  
      </div>  
      <div class="control-buttons">
        <div class="btn btn-secondary" v-if="completed.length > 0" @click="toggleShowComplete"><span v-if="!showComplete">Show</span><span v-else>Hide</span> Complete</div>
        <div class="btn btn-secondary" v-if="todoList.length > 0" @click="clearAll">Clear All</div>
      </div>
    </section>
  </div>
  <footer>
    Made with <3 by <a href="https://www.nourabusoud.com/">Nour Soud</a><br>
    View on <a href="https://github.com/nourabusoud/vue-todo-list">Github</a>
  </footer>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js'></script>

  

    <script  src="js/index.js"></script>




</body>

</html>
